:root {
  --pine-color-brand: var(--pine-color-mercury-500);
  --pine-input-color-background-danger: var(--pine-color-red-050);
  --pine-select-color-background-danger: var(--pine-color-red-050);
  --pine-chip-color-accent: var(--pine-color-purple-100);
  --pine-chip-color-accent-hover: var(--pine-color-purple-300);
  --pine-chip-color-accent-dot: var(--pine-color-purple-600);
  --pine-chip-color-danger: var(--pine-color-red-100);
  --pine-chip-color-danger-hover: var(--pine-color-red-300);
  --pine-chip-color-danger-dot: var(--pine-color-red-600);
  --pine-chip-color-info: var(--pine-color-blue-100);
  --pine-chip-color-info-hover: var(--pine-color-blue-300);
  --pine-chip-color-info-dot: var(--pine-color-blue-600);
  --pine-chip-color-neutral: var(--pine-color-grey-100);
  --pine-chip-color-neutral-hover: var(--pine-color-grey-300);
  --pine-chip-color-neutral-dot: var(--pine-color-grey-600);
  --pine-chip-color-success: var(--pine-color-green-100);
  --pine-chip-color-success-hover: var(--pine-color-green-300);
  --pine-chip-color-success-dot: var(--pine-color-green-600);
  --pine-chip-color-warning: var(--pine-color-yellow-100);
  --pine-chip-color-warning-hover: var(--pine-color-yellow-300);
  --pine-chip-color-warning-dot: var(--pine-color-yellow-600);
  --pine-alert-color-background: var(--pine-color-grey-150);
  --pine-alert-color-border: var(--pine-color-grey-300);
  --pine-alert-color-dismiss: var(--pine-color-grey-900);
  --pine-alert-color-dismiss-hover: var(--pine-color-grey-300);
  --pine-alert-color-icon: var(--pine-color-grey-700);
  --pine-alert-color-text: var(--pine-color-grey-950);
  --pine-alert-color-danger-background: var(--pine-color-red-150);
  --pine-alert-color-danger-border: var(--pine-color-red-300);
  --pine-alert-color-danger-dismiss: var(--pine-color-red-900);
  --pine-alert-color-danger-dismiss-hover: var(--pine-color-red-300);
  --pine-alert-color-danger-icon: var(--pine-color-red-700);
  --pine-alert-color-danger-text: var(--pine-color-red-950);
  --pine-alert-color-info-background: var(--pine-color-blue-150);
  --pine-alert-color-info-border: var(--pine-color-blue-300);
  --pine-alert-color-info-dismiss: var(--pine-color-blue-900);
  --pine-alert-color-info-dismiss-hover: var(--pine-color-blue-300);
  --pine-alert-color-info-icon: var(--pine-color-blue-700);
  --pine-alert-color-info-text: var(--pine-color-blue-950);
  --pine-alert-color-success-background: var(--pine-color-green-150);
  --pine-alert-color-success-border: var(--pine-color-green-300);
  --pine-alert-color-success-dismiss: var(--pine-color-green-900);
  --pine-alert-color-success-dismiss-hover: var(--pine-color-green-300);
  --pine-alert-color-success-icon: var(--pine-color-green-700);
  --pine-alert-color-success-text: var(--pine-color-green-950);
  --pine-alert-color-warning-background: var(--pine-color-yellow-150);
  --pine-alert-color-warning-border: var(--pine-color-yellow-300);
  --pine-alert-color-warning-dismiss: var(--pine-color-yellow-900);
  --pine-alert-color-warning-dismiss-hover: var(--pine-color-yellow-300);
  --pine-alert-color-warning-icon: var(--pine-color-yellow-700);
  --pine-alert-color-warning-text: var(--pine-color-yellow-950);
}
